#!/bin/sh
# ifconfig $INTERFACE up {{ ips[inventory_hostname] }}/{{ ip_maskbits }} mtu {{ mtu }}
# ifconfig $INTERFACE mtu {{ mtu }}
ip addr add {{ ips[inventory_hostname] }}/{{ ip_maskbits }} dev $INTERFACE
ip link set mtu {{ mtu }} dev $INTERFACE
ip link set up dev $INTERFACE

# TODO: Add routes here
