Name = {{ inventory_hostname }}
AddressFamily = ipv4
Interface = {{ tinc_interface }}
{% for instance in connect_to_hosts %}
{% if instance != inventory_hostname %}
ConnectTo = {{instance}}
{% endif %}
{% endfor %}

{% for instance in connect_to_lan_hosts %}
{% if hostvars[instance]['location'] != 'none' and hostvars[instance]['location'] == location %}
ConnectTo = {{instance}}
{% endif %}
{% endfor %}

BindToAddress = * {{ tinc_port }}
Mode = {{ tinc_mode }}
